/*-----------------------------------------------------------------------------------------\
|  _______                 _____  .               _                ___    ___/  ___    __  |
| '   /      ___  `       (      _/_   ,   .   ___/ `   __.       /   \ .'  /\ /   \ .'    |
|     |     /   ` |        `--.   |    |   |  /   | | .'   \        _-' |  / |   _-' |---. |
|     |    |    | |           |   |    |   | ,'   | | |    |       /    |,'  |  /    |   | |
|     /    `.__/| /      \___.'   \__/ `._/| `___,' /  `._.'      /___, /`---' /___, `._.' |
|                                                 `                                        |                                                                                                                                                                                                                                                 
\-----------------------------------------------------------------------------------------*/

@font-face {
    font-family: 'ancient';
    src: url('font/ancient/Ancient\ Medium.ttf');
}
body.ancient{
    font-family: 'ancient';
}
@font-face {
    font-family: 'poppins';
    src: url('font/poppins/Poppins-Regular.ttf');
}
body{
    font-family: 'poppins';
}